/* font-family: 'Russo One', sans-serif; -- Header Title
font-family: 'Bebas Neue', cursive; -- Card Title
font-family: 'Pavanam', sans-serif;  -- All other small font text on card */ 
/* <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by freepik - www.freepik.com</a> 
          the background image link
*/


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/Components/img/spaceBG.jpg');
  text-align: center;
}
